@media (max-width:1200px){
    #home::before{
        opacity: 0.3;
    }
    header > nav > .container> button{
        display: block;
        height: 50px;
        width: 65px;
        transition: 3s;
    }
    #o-mercado > .container > ul{
        grid-template-columns: 1fr 1fr;
    }
    footer > .container:before{
        opacity: 0.3;
    }
}
@media(min-width:1210px){
    #o-mercado > .container > ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media(max-width:550px){
    #o-mercado > .container > ul{
        grid-template-columns: 1fr;
    }
}
@media (max-width:950px){
    #founders >  .container > ul{
        grid-template-columns: 1fr;
    }
}
@media (min-width:1000px){
    #founders >  .container > ul{
        grid-template-columns: 1fr 1fr;
    }
}